{% extends 'base.html.twig' %}

{% block title %}
    Movies Page
{% endblock %}

{% block body %}
    {# This is comment example #}
    {# 
        {{ _self }} -> this will print index.html.twig
                    -> _self is a global twig variable 

        {{ _charset }} -> this will print UTF-8

        {{ foo }} -> this is global variable, defined in packages/twig.yaml
        {{ author }} -> this is global variable, defined in packages/twig.yaml
    #}
    <h1 class="bg-blue-500 text-2xl text-center font-bold">Test</h1>
    <img src="{{ asset('build/images/mountain.3090c52b.jpg') }}" alt="">
{% endblock %}